body {
  background-color: rgb(77,199,160);
  background-image:url('img/backdrop.jpg');
  background-repeat:no-repeat;
  background-size: cover;
}

@keyframes grayscale {
  from {
    filter: grayscale(0%);
  }

  to {
    filter: grayscale(100%);
  }
}
img {
  animation: 1.5s forwards;
}
img:hover {
  animation: grayscale 1.5s forwards;
}
.padding {
  width: 10px;
  height: 10px;
  padding: 5px 5px 5px 5px;
  background-color: rgb(23,115,212);
}
.about {
  width: 100vw;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
h1 {
  text-align: center;
  color: #0000b3;
  font-size: 65px;
}
.large {
  font-size: 85px;
}
.light {
  color: #ff8080;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
table {
  border-color: rgb(23,115,212);
  width: 40vw;
  margin: auto;
}
th {
  font-size: 45px;
}
td, a, th {
  color: rgb(255,255,255);
}
#wow {
  font-style: italic;
}
iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.video h1 {
  text-align: center;
  color: #0000b3;
  font-size: 45px;
}
.half-visible {
  opacity: 0.5;
}
